.index{
	background-color: #fff;
	overflow: auto;
	    position: absolute;
    bottom: 0;
    top: 44px;
}
.icon-position3{
	width: 14px;
	height: 18px;
}
.position{
	line-height: 44px;
	font-size: 15px;
}
.banner{
	height: 165px;
}
.banner img{
	width: 100%;
	height: 165px;
}
.all{
	background: #FFF;
	clear: both;
}
.all ul{
    margin: auto;
    padding: 20px 0 52px 0;
}
.all ul li{
	float: left;
	width: 33%;
	text-align: center;
}
.all ul li:nth-child(3n+0){
	margin-right: 0;
}
.all ul li img{
	width: 70px;
}
.all ul li p{
	text-align: center;
	font-size: 14px;
	padding: 15px 0 22px 0;
}

