
/**banner第二部分**/
#banner{
	background: url(../img/banner@2x.png) no-repeat ;
	height: 166px;
	width: 100%;
	background-size: 100%;
}
#banner .touxiang{
	padding-top: 19px;
	height: 75px;
}
#banner .touxiang_pho{
	height: 75px;
	width: 75px;
	margin: auto;
}
#banner .jishi_name{
	padding-top: 10px;
	
}
#banner .jishi_name p{
	font-size: 15px;
	color: white;
	text-align: center;
}
#banner .my_label{
	height: 19px;
	padding-top: 10px;
}
#banner .my_label .my_label_center{
	width: 154px;
	margin: auto;
}
#banner .my_label p{
	color: white;
	text-align: center;
	height: 18px;
	width: 72px;
	border: 1px solid #fff;
	border-radius: 6px;
}
#banner .my_label .comment{
	float: left;
}
#banner .my_label .goodwill{
	float: right;
}


/**第三版相册**/
.my_album{
	background-color: #FFFFFF;
	height: 100px;
	width: 100%;
}
.album_left{
	float: left;
}
.album_left p{
	font-size: 14px;
	line-height: 100px;
	padding-left: 10px;
	display: inline-block;
}

.album_center ul{
	float: left;
}
.album_center ul li{
	float: left;
	padding-left: 10px;
}
.album_center ul li img{
	padding-top: 20px;
}
.album_center ul li:nth-child(1){
	padding-left: 15px;
}
.album_center ul li img{
	width: 57px;
}
.album_right{
	float: right;	
}
.album_right p{
	line-height: 100px;
	padding-right: 10px;
}
.album_right img{
	width: 7px;
	height: 12px;
}
.my_information{
	background-color: #fff;
	margin-top: 8px;
}
/**个人简介**/

.information_list ul li{
	
	padding-left: 10px;
	height: 49px;
	border-bottom: 1px solid #e6e6e6;
}
.information_list ul li:nth-child(3){
	border: none;
}
.information_list ul li span{
	line-height: 49px;
}
.information_list ul li .detailed_title{
	font-size: 14px;
	padding-right: 15px;
}
.information_list ul li img{
	width: 12px;
}
.information_list ul li .detailed_mess{
	font-size: 12px;
	color: #999999;
}

.detailed_comment .all_label{
	padding-left: 10px;
}
.detailed_comment .all_label p{
	padding: 5px 14px;
    border: 1px solid #333;
    border-radius: 15px;
    margin-right:11px ;
    display: inline-block;
    text-align: center;
	margin-bottom: 10px;
    	
}

.detailed_content ul li{
	height: 110px;
	padding-top: 10px;
	padding-left: 10px;
	border-bottom: 1px solid #e6e6e6 ;
}
.detailed_content ul li .up_top{
	height: 33px;
	
}
.detailed_content ul li .up_top p{
	line-height: 33px;
	font-size: 14px;
	display: inline-block;
}
.time_carry{
	float: right;
	padding-right: 10px;
	color: #777777;
}
.detailed_content ul li .up_top img{
	width: 33px;
	padding-right: 5px;
	float: left;
}
.user_name{
	line-height: 33px;
}
.bottom p{
	font-size: 12px;
	color: #777777;
	padding-top: 10px;
	text-indent: 3em;
	padding-right: 10px;
}
.footer p{
	text-align: center;
	font-size: 15px;
	padding: 10px  0px;
	display: block;
	color: #999;
}
/*.share{
	background: url(../img/iconget.png) no-repeat;
	background-size: 100%;
	width: 20px;
	height: 20px;
}*/
