 html{
 	background-color: #f3f3f3;
 }
 
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {

　　color: #e6e6e6;font-size:12px;

　　}

　　input:-moz-placeholder, textarea:-moz-placeholder {

　　color:#e6e6e6;font-size:12px;

　　}

　　input::-moz-placeholder, textarea::-moz-placeholder {

　　color:#e6e6e6;font-size:12px;

　　}

　　input:-ms-input-placeholder, textarea:-ms-input-placeholder {

　　color:#e6e6e6;font-size:12px;

　　}
.main{
	overflow: auto
}
.fr{
	float: right;
}
.main ul,.order_leaving,.order-mian{
	background-color: #fff;
}
.main .order li {
	padding: 0 10px;
	height: 50px;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
	line-height: 50px;
}

.main .book_detail li:nth-child(2) {
	border-bottom: none;
}

.main .order li p {
	font-size: 15px;
	line-height: 50px;
}

.main ul li .book_name {
	float: left;
}

.main ul li .book_time {
	float: right;
}

.book_mess {
	background: url(../img/book_order/bg@2x.png) no-repeat 100% 0;
	height: auto;
	
	background-size: 100%;
}

.book_add .cell_pho {
	background: url(../img/book_order/iconphon@2x.png) no-repeat 0px 3px;
	background-size: 22%;
	padding-left: 25px;
}

.book_add label {
	line-height: 50px;
	font-size: 14px;
}

.book_add input {
	border: none;
	margin-left: 15px;
	height: 80%;
}
.adress {
	background: url(../img/book_order/icondizhi@2x.png) no-repeat;
	background-size: 22%;
	padding-left: 25px;
}
.icon-go{
	background: url(../img/jiantou@2x.png) no-repeat;
	height: 20px;
}
.door_time{
	background: url(../img/book_order/icontime@2x.png)no-repeat;
	background-size: 22%;
	padding-left: 25px;
}
.add_adress:after{
	content: "";
	background: url(../img/jiantou@2x.png) no-repeat;
	    background-size: 40%;
    height: 20px;
    right: 0px;
    position: absolute;
    width: 20px;
    top: 36%;
}
.time{
	padding-right: 20px;
	color: #d5201e;
}
.indro{
	margin: 10px;
	border-radius: 6px;
	height: 100px;
}
.order_leaving textarea{
	margin: 10px;
	resize: none;
	width: 88%;
	border: 1px solid #ccc;
	border-radius: 6px;
	height: 100px;
	background-color: #e5e5e5;
	padding: 10px;
}
.order_leaving ul{
	padding: 0px 0px 10px 10px;
}
.order_leaving li{
	float: left;
	margin: 0px 10px 15px 0px;
}
.order_leaving li.select{
	border: 1px solid #D5201E;
	color: #D5201E;
	opacity: 0.5px;
	border-radius: 30px;
	opacity: 0.5px;
}
.order_leaving li {
	padding: 5px 10px;
	border: 1px solid #666;
	border-radius: 30px;
	color: #666;
}

.order-mian:after{
	content: "";
	background: url(../img/book_order/bg@2x.png) no-repeat;
	    background-size: 100%;
    right: 0px;
    width:100%;
    height: 4px;
}
.youhuiquan{
	background: url(../img/book_order/iconquan@2x.png) no-repeat 0px 3px;
	background-size: 22%;
	padding-left: 25px;
}
.pay{
	background: url(../img/book_order/iconzhifu@2x.png) no-repeat;
	background-size: 22%;
	padding-left: 25px;
}
.taboo{
	background: url(../img/book_order/icontishi-red@2x.png) no-repeat;
	background-size: 22%;
	padding-left: 25px;
}
.pay input{
	border: none;
}
.order_tadboo p{
	line-height: 20px !important;
	font-size: 12px !important;
	text-indent: 2em;
	color: #999;
	letter-spacing:1px;
	margin-top: -10px;
}
 .order_tadboo li:last-child{
	height: 140px;
}
 .order_tadboo{
 	margin-bottom: 60px;
 }

/**弹框**/
.botContent .left_time{
	width: 35%;
	text-align: left;
	background-color: #e6e6e6 !important;
	height: 100%;
}
.botContent .left_time li.select{
	background: #fff;
}
.botContent .left_time li{
	background-color: #e6e6e6;
	padding-left: 10px;
	font-size: 14px;
}
.botContent .right_time li{
	padding-left: 10px;
	font-size: 14px;
}
.botContent .right_time{
	width: 65%;
	text-align: left;
}
.botContent li{
	line-height: 45px;
	border-bottom: 1px solid #e6e6e6;
}
.shiji_daoda{
	
	font-size: 12px !important;
}
.shiji_daoda:before{
	content: "";
	    background: url(../img/icontishi@2x.png) no-repeat 0px 15px;
       width: 18px;
    height: 46px;
    background-size: 85%;
	float: left;
}
.mian_conten{
	line-height: 45px;
	color: #fff;
	font-size: 15px;
	background-color: #D5201E;
}
.right_time li{
	position: relative;
}
.right_time li.active:after{
	content: "";
					background: url(../img/book_order/icon_lab@2x.png) no-repeat;
					display: inline-block;
					width: 30px;
					height: 30px;
					background-size: 50%;
					position: absolute;
					right: 0;
    top: 15px;
}
