@media only screen and (min-width: 300px) and (max-width: 356px) {
	#banner {
		height: 140px;
	}
	#banner .touxiang {
		padding-top: 15px;
		height: 60px;
	}
	#banner .touxiang_pho {
		height: 60px;
		width: 60px;
		text-align: center
	}
	#banner .my_label {
		height: 19px;
		padding-top: 5px;
	}
	.banner_index {
		height: 135px !important;
	}
	.banner_index img {
		height: 135px !important;
	}
	.all ul li img {
		width: 60px !important;
	}
	.all ul li p {
		padding: 5px 0 15px 0 !important;
	}
	.all ul {
		padding: 15px 0 52px 0 !important;
	}
	.album_center ul li:nth-child(4) {
		display: none;
	}
	/*.detailed_content ul li {
		height: 90px;
	}*/
	.album_center ul li {
		padding-left: 14px;
	}
	.sticky_header {
		height: 195px;
	}
	.touxiang_my {
		padding-top: 10px;
	}
	.touxiang_my img {
		width: 60px;
	}
	.name_my {
		padding-top: 10px;
		font-size: 14px;
	}
	.project_left {
		height: 100px !important;
		width: 68% !important;
	}
	.project_left img {
		width: 100% !important;
		height: 100px !important;
	}
	.project_right {
		height: 100px !important;
	}
	.lijiyuyue {
		padding: 5px 12px !important;
	}
	.order_leaving textarea {
		width: 87% !important;
	}
	.all_cupon li {
		padding: 20px 0 !important;
	}
	.cupon .cupon_left .money,
	.cupon_name {
		font-size: 14px !important;
	}
	.pay_way li {
		height: 60px !important;
		line-height: 60px !important;
	}
	.pay_way li img {
		width: 28px !important;
		padding-top: 16px !important;
	}
	#Layer2 {
		margin-left: 14%;
	}
	.search input {
		margin-left: 0px !important;
	}
	.botContent {
		top: 45% !important;
	}
	.jiage_fen p {
		left: 42% !important;
		top: 36px !important;
		font-size: 25px !important;
	}
	.jiage_fen img {
		width: 100px !important;
	}
}

@media only screen and (min-width: 360px) and (max-width: 380px) {
	.sticky_header {
		height: 230px !important;
	}
	.album_center ul li img {
		width: 54px;
	}
	.album_center ul li img {
		padding-top: 22px;
	}
	/*.all_cupon li{
		padding: 30px 0px !important;
	}*/
}


}
@media only screen and (min-width: 384px) and (max-width: 399px) {
	
	.all_cupon li{
		padding: 30px 0px !important;
	}
}
@media only screen and (min-width: 400px) and (max-width: 413px) {
	.album_center ul li {
		padding-left: 20px;
	}
	
	.sticky_header {
		height: 245px !important;
	}
	
	.touxiang_my img {
		width: 90px;
	}
	
	.touxiang_my {
		padding-top: 30px;
	}
	
	.order_leaving textarea {
		width: 89% !important;
	}
	
	.all_cupon li {
		padding: 34px 0 !important;
	}
}
@media only screen and (min-width: 414px) and (max-width: 500px) {
	.album_center ul li {
		padding-left: 20px;
	}
	
	.touxiang_my img {
		width: 90px;
	}
	
	.touxiang_my {
		padding-top: 30px;
	}
	
	.order_leaving textarea {
		width: 89% !important;
	}
	
	.all_cupon li {
		padding: 34px 0px !important;
	}
	
	.sticky_header {
		height: 252px !important;
	}
	
	.all ul li img {
		width: 88px !important;
	}
}
@media only screen and (min-width: 500px) and (max-width: 768px){
	.all_cupon li {
		padding: 54px 0 !important;
	}
	.jiage_fen p {
    left: 44% !important;
}
	
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.all_cupon li {
		padding: 88px 0 !important;
	}
	
	.cupon .cupon_right p {
		padding-left: 20px !important;
	}
	
	.jiage_fen p {
		left: 46%;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
	.all_cupon li {
		padding: 127px 0 !important;
	}
	
	.cupon .cupon_right p {
		padding-left: 20px !important;
	}
}