﻿
/* main_img */
.img_gallery{height:165px;overflow:hidden;position:relative;}
.main_img{height:165px;overflow:hidden;position:relative;}
.main_img ul{width:9999px;height:165px;overflow:hidden;position:abs
olute;top:0;left:0}
.main_img li{float:left;width:100%;height:165px;}
.main_img li span{display:block;width:100%;height:165px}
.main_img li a{display:block;width:100%;height:165px}
.main_img li .img_1{background:url('../img/home/banner2@2x.png') center top no-repeat;background-size: 100%;}
.main_img li .img_2{background:url('../img/home/banner@2x.png') center top no-repeat;background-size: 100%;}
.main_img li .img_3{background:url('../img/home/banner3@2x.png') center top no-repeat;background-size: 100%;}
.main_img li .img_4{background:url('../img/home/banner@2x.png') center top no-repeat;background-size: 100%;}
.main_img li .img_5{background:url('../img/home/banner2@2x.png') center top no-repeat;background-size: 100%;}
.img_font{position:absolute; bottom:30px; left:30%; color:#f00; width:100%; padding:10px;}
.img_font span{display:none; }

div.point{position:absolute;bottom:33px;left:50%;z-index:999;width:140px;height:21px;margin:0 0 0 -50px;}
div.point a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../img/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.point a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(../img/hover_left.png) no-repeat left top;left:100px;}
#btn_next{background:url(../img/hover_right.png) no-repeat right top;right:100px;}
