.iconfont{
	color: #fff;
	font-size: 15px;
}
.icon-pingguo,.icon-anzhuo{
	margin-right: 15px;
    font-size: 20px;
}
@font-face {
  font-family: 'iconfont';  /* project id 468399 */
  src: url('//at.alicdn.com/t/font_468399_29bpquanynndbo6r.eot');
  src: url('//at.alicdn.com/t/font_468399_29bpquanynndbo6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_468399_29bpquanynndbo6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_468399_29bpquanynndbo6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_468399_29bpquanynndbo6r.svg#iconfont') format('svg');
}
#hcontent{
	padding: 20px;
	text-align: center;
}
#button a{
	background-color: none;
	border: 1px #fff solid;
	display: inline-block;
	padding: 10px 40px;
    border-radius: 23px;
    color: #fff;
    margin-top: 25px;
    font-size: 14px;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
	.my_pro{
		padding-top: 20px !important;
	}
}

.my_pro img{  
    -webkit-animation:mymove 3s linear 0s infinite alternate;  
}
.my_pro img
{
position:relative;
animation:myfirst 3s infinite alternate;

}
@keyframes myfirst
{
0%   {left:0px; top:0px;}
50%  {left:0px; top:10px;}
70%   {left:0px; top:5px;}
100%   {left:0px; top:10px;}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
0%   {left:0px; top:0px;}
50%  {left:0px; top:10px;}
70%   {left:0px; top:5px;}
100%   {left:0px; top:10px;}
}
/*@keyframes myfirst{
0%   {top:200px;}
25%  {top: 0px;}
50%  {top:200px;}
100% {top:0px;}
}*/