html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}

body {
	margin: 0
}
html,body,div,li,ul,h1,h2,h3,h4,h5,h6{margin:0;padding:0;} 
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	height: 0
}

audio:not([controls]),
[hidden],
template {
	display: none
}

a {
	background: transparent
}

b,
strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

svg:not(:root) {
	overflow: hidden
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

input {
	line-height: normal
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: 700
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
body,
th,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	padding: 0
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
*{margin:0;padding:0}
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 400
}

ul,
ol {
	list-style: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

.clearfix {
	*zoom: 1
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}




/**正式css**/
.call_us{
	position: absolute;
	top: 82%;
	background-color: #d3b466;
	display: inline-block;
    color: #fff;
    z-index: 999;
    right: 0px;
    text-decoration: none;
    padding: 6px 16px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    opacity: 0.8;
    width: 12px;
}
.swiper-slide{
	background: url(/data/img/joinbg@2x.png) no-repeat #000 !important;
	background-size: 100%;
	height: 100%;
	position: relative;
}
.swiper-slide p{
	color: #d3b466;
}
.swiper-slide p{
	font-size: 14px;
}
.swiper-slide h2{
	line-height: 45px;
	color: #fff;
	font-size: 15px;
	color: #d3b466;
    font-weight: 700;
}

.lable,.lable2,.lable3,.lable4{
	position: absolute;
	bottom: 3%;
	left: 40%;
}
.lable img,.lable2 img,.lable3 img,.lable4 img{
	width: 50%;
	opacity: 0.8;
}
.slide2,.slide3,.slide4{
	position: relative;
}







@media only screen and (min-width: 768px) and (max-width: 800px) {
	.tow_img img{
		width: 55% !important;
	}
	.lable,.lable2,.lable3,.lable4{
	left: 44%;
}
.slide2 img{
		width: 55% !important;
	}
	.call_us{
	top: 90%;}
}