@media only screen and (min-width: 320px) and (max-width: 340px) {
	.hearder .title img{
    width: 67%;
    }
    .center_lianxi img{
    	width: 25%;
    }
    .wenan {
    font-size: 13px;
    line-height: normal;
    font-weight: 700;
    color: #333;
}
.phon_numer {
    font-size: 12px;
}
}


@media only screen and (min-width: 400px) and (max-width: 500px) {
	.hearder .title img{
    width: 67%;
    }
    .center_lianxi img{
    	width: 25%;
    }
    .wenan {
    font-size: 15px;
    line-height: 27px;
    font-weight: 700;
    color: #333;
}
.phon_numer {
    font-size: 16px;
}
}


@media only screen and (min-width: 540px) and (max-width: 640px) {
	.hearder .title img{
    width: 67%;
    }
    .center_lianxi img{
    	width: 30%;
    }
    .wenan {
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    color: #333;
}
.phon_numer {
    font-size: 20px;
}
.hearder {
    height: 270px;
}
}

@media only screen and (min-width: 760px) and (max-width: 860px) {
	.hearder .title img{
    width: 67%;
    }
    .center_lianxi img{
    	width: 30%;
    }
    .wenan {
    font-size: 26px;
    line-height: 58px;
    font-weight: 700;
    color: #333;
}
.phon_numer {
    font-size: 28px;
}
.hearder {
    height: 270px;
}
.about_us p {
    font-size: 14px;
}
.fooder p {
    font-size: 14px;
}
}