.sticky_header {
					background: url(../img/my/bg2@2x.png) no-repeat;
					height: 235px;
					background-size: 100%;
				}
.m_header_bar{
	background: none;
}
.mhb_center h2{
	color: #fff !important;
}
.icon-position3 {
					width: 10px;
				}

.touxiang_my{
	text-align: center; padding-top: 20px;	
}
.touxiang_my img{
	width: 80px;
}
.name_my{
	text-align: center;color: #fff;font-size: 15px;
}
.my_list {
	background-color: #fff;
}
.my_list ul li{
	padding: 0 10px;
	border-bottom: 1px solid #e6e6e6;
	height: 50px;
}
.my_list li span{
	font-size: 14px;
	line-height: 50px;
}
.my_list .list_icon{
	width: 18px;
	height: 19px;
	float: left;
	padding:15px 10px 0 0

}
.ivon_go{
	float: right;
	width: 6px !important;
	padding-top: 19px;
	
}
.index-bnav li .icon-my{
	width: 27px;
}
.index-bnav li .icon-index{
	width: 25px;
}
.jiage_fen p{
    font-size: 30px;
    line-height: 176px;
}
.jiage_fen{
	height: 186px;
}
