#testform{
  display: none;
}

#testforms{
  display: none;
}
body{
  padding: 0;
  margin:0;
  font-family: Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;
  color: #666;
}
.title{
  background-color: #0983C7;
  line-height: 40px;
  text-align: center;
  color:#fff;
  font-family: '微软雅黑';
}
.container{
  width: 100%;
  margin:0 auto;
  max-width:640px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 600px;
}
label{
  display:block;
  width: 300px;
  height:150px;
  margin: 30px auto;
  border-radius: 10px;
  border:2px dashed #ddd;
  overflow: hidden;
  cursor: pointer;
}
label span{
  display:block;
  width:50px;
  height:50px;
  border-radius: 100%;
  border:3px solid #0983C7;
  margin:30px auto 15px;
  position:relative;
}
label em{
  font-style: normal;
  text-align: center;
  display:block;
}
label span:before, label span:after{
  display:block;
  content:'';
  background-color: #0983C7;
  position: absolute;
}
label span:before{
  width:3px;
  height:30px;
  top:10px;
  left:24px;
}
label span:after{
  width:30px;
  height:3px;
  top:24px;
  left:10px;
}
.selected-file, .progress, .uploaded-result{
  line-height: 30px;
  margin: 0 20px;
}
.uploaded-result span{
  display: block;
}
.uploaded-result img{
  display:block;
  margin: 20px auto;
  width:100%;
  max-width: 100%;
}
