body {
				font-family: "Microsoft YaHei";
			}
html {
	font-family: Microsoft YaHei;
	font-size: 12px;
	background-color: #f3f3f3;
	color: #333333;
}

a {
	text-decoration: none;
	color: #333;
}

header {
	border-bottom: 1px solid #f3f3f3;
	z-index: 9999;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.m_header_bar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	height: 44px;
	background: #fff;
}

.m_header_bar .mhb_center.mhb_center_across {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 80px;
	text-align: center;
}

.icon-position3 {
	width: 10px;
	height: 18px;
}

.m_header_bar .mhb_center {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	overflow: hidden;
	height: 44px;
}

.m_header_bar .mhb_center h2 {
	font-weight: 500;
	font-size: 18px;
	line-height: 18 px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 15%;
	color: #333;
}

.m_header_bar .mhb_left {
	float: left;
	position: relative;
	z-index: 1;
}

.m_header_bar .mhb_left .myposition {
	float: left;
	width: 19px;
	height: 24px;
	padding: 13px 0px 11px 15px;
	cursor: pointer;
}

.m_header_bar .mhb_right {
	position: absolute;
	top: 0;
	right: 0;
	height: 44px;
}

.m_header_bar .mhb_right .share {
    padding: 14px 11px 11px;    
    cursor: pointer;
    display: inline-block;
}

.icon-share {
	width: 18px;
	height: 16px;
}

.index-bnav {
	height: 50px;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	background: #fff;
	border-top: 1px solid #e6e6e6;
}

.index-bnav li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	position: relative;
	text-align: center;
	color: #999;
	font-size: .55rem;
	color: #333;
}

.index-bnav li img {
	width: 28px;
	padding-top: 5px;
}

.index-bnav li .icon-ding {
	width: 20px;
}

.index-bnav li .icon-my {
	width: 22px;
}

.select {
	color: #d5201e;
}

.bat_sure button {
	height: 44px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	border: none;
	background-color: #D5201E;
	color: #fff;
	font-size: 15px;
}

.button {
	text-align: center;
}

.button button {
	height: 44px;
	width: 85%;
	border-radius: 44px;
	border: 0px;
	background-color: #D5201E;
	color: #fff;
	font-size: 15px;
	margin: 10px 0 15px 0;
}