html{
	background-color: #fafafa;
	font-family: "microsoft yahei";
	color: #333;
	
}
i{
	font-style:normal !important;
}
.hearder{
	background: url(../img/bg@2x.png) no-repeat;
	height: 220px;
	width: 100%;
	background-size: 100%;
	/*background-size:contain;*/
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.xuanchuan{
	text-align: center;
}
.wenan{
	font-size: 14px; 
    line-height: 28px;
    font-weight: 700;
    color: #333;
}
.center_lianxi{
	width: 50%;margin: auto;
}
.phon_numer{
	text-align: center;
	color: #d5201e;
	font-weight: 800;
	text-shadow: 2px 2px 2px #a99a9a;
	font-size: 14px;
}
.main{
	text-align: center;
	margin-top: 30px;
	padding: 0 15px;
	position: relative;
}
.main h1{
	font-size: 15px;
	color: #fff;
	background-color: #D5201E;
	display: inline-block;
	padding: 5px 12px;
	font-weight: 700;
	border-radius: 30px;
	box-shadow: 2px 2px 2px #8e1918;
}
.about_us p{
	font-size: 12px;
	padding-top: 20px;
	text-align: left;
	letter-spacing: 2px;
	text-indent: 2em;
}
.content_provide{
	position: absolute;
	text-align: left;
	line-height: 30px;
	font-size: 12px;
	width: 40%;
	margin: auto;
}
.content_provide i{
	display: inline-block;
	background-color: #f1ab00;
	color: #fff;
	padding: 1px 5px;
	font-family: "微软雅黑";
	font-size:12px;
	border-radius: 16px;	
	line-height: normal;
}
.fooder{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #fff;
	height: 60px;
	
}
.fooder p{
	line-height: 60px;
	padding: 0 15px;
	color: #999;
	font-size: 12px;
}
.fooder  span{
	font-size: 12px;
	padding: 5px 18px;
	background-color: #D5201E;
	border-radius: 20px;
	color: #fff;
	line-height: 30px;
	height: 30px;
	margin-top: 10px;
	margin-right: 15px;
}
.we_wait{
	padding-bottom: 66px;
}
.we_wait p{
	font-size: 13px;color: #666;
	font-weight: 700;
}
