label span{
  display:block;
  width:50px;
  height:50px;
  border-radius: 100%;
  border:3px solid #0983C7;
  margin:30px auto 15px;
  position:relative;
}
label em{
  font-style: normal;
  text-align: center;
  display:block;
}
label span:before, label span:after{
  display:block;
  content:'';
  background-color: #0983C7;
  position: absolute;
}
label span:before{
  width:3px;
  height:30px;
  top:10px;
  left:24px;
}
label span:after{
  width:30px;
  height:3px;
  top:24px;
  left:10px;
}
