.file {
    position: relative;
    display: inline-block;
    background: #d0eeff;
    border: 1px solid #99d3f5;
    border-radius: 4px;
    padding: 4px 9pt;
    overflow: hidden;
    color: #1e88c7;
    text-decoration: none;
    text-indent: 0;
    line-height: 25px;
}
.file input {
    position: absolute;
    font-size: 75pt;
    right: 10;
    top: 0;
    opacity: 0;
}