/**我的评论**/

.mian_conmmment {
	font-size: 12px;
	color: #333;
	padding: 2px 0px;
}

.title_conmment {
	font-size: 14px !important;
	color: #D5201E;
}

.flower {
	width: 60%;
	padding-top: 10px;
}


/**上传相册**/

.weui-uploader__input-box {
	border: 2px dashed #D5201E !important;
	border-radius: 6px;
}

.weui-uploader__input-box:after {
	content: "";
	background: url(../img/xiangceshangchuan@2x.png) no-repeat !important;
	height: 60px !important;
	width: 50px !important;
	position: absolute;
	background-size: 55% !important;
	top: 73% !important;
	left: 66% !important;
}

.weui-uploader__input-box:before {
	content: "" !important;
	width: 0px !important;
}


/**我的账户**/

.detailed {
	font-size: 12px;
	color: #D5201E;
	line-height: 44px;
	padding-right: 15px;
}

.account_benner {
	position: relative;
}

.account_benner img {
	position: absolute;
}

.ba_content {
	padding-top: 5%;
}

.ba_content img {
	width: 20%;
	right: 40%;
}

.shouru {
	z-index: 999;
	margin-top: 50%;
}

.phto {
	padding-top: 10px;
	background: url(../img/beijing@2x.png) no-repeat;
	height: 100%;
	background-size: 100%;
	text-align: center;
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.phto p {
	color: #fff;
}

.phto .touxiang_my {
	text-align: center;
	padding-top: 3%;
}

.touxiang_my img {
	width: 15%;
}

.but_tixian {
	margin-top: 8%;
	color: #D5201E !important;
	font-size: 15px;
	padding: 15px 20px;
}

.FQA_account {
	padding: 10px 15px;
	text-align: left;
}

.FQA_account h2 {
	color: #D5201E;
	font-size: 14px;
	line-height: 36px;
}

.FQA_account p {
	color: #666;
	font-size: 12px;
}

.FQA_account p i {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: inline-block;
	background-color: #D5201E;
	margin-right: 10px;
}