
html {
    font-family: Microsoft YaHei;
    font-size: 12px;
    background-color: #f3f3f3;
    color: #333333;
}
header {
    border-bottom: 1px solid #f3f3f3;
    z-index: 9999;
}
.weui-cells{
	
	margin-top: 0px !important;
}

.weui-panel:before,.weui-cells:before{
	border: none !important;
}
.weui-panel{
	margin-top: 0px !important;
}
.fl {
	float: left;
}

.fr {
	float: right;
}

.m_header_bar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	height: 44px;
	background: #fff;
}

.m_header_bar .mhb_center.mhb_center_across {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    /* padding: 10px 80px; */
    text-align: center;
    line-height: 44px;
}

.icon-position3 {
	width: 10px;
	height: 18px;
}

.m_header_bar .mhb_center {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	overflow: hidden;
	height: 44px;
}

.m_header_bar .mhb_center h2 {
	font-weight: 500;
	font-size: 18px;
	line-height: 18 px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 15%;
	color: #333;
}

.m_header_bar .mhb_left {
	float: left;
	position: relative;
	z-index: 1;
}

.m_header_bar .mhb_left .myposition {
	float: left;
	width: 19px;
	height: 24px;
	padding: 13px 0px 11px 15px;
	cursor: pointer;
}

.m_header_bar .mhb_right {
	position: absolute;
	top: 0;
	right: 0;
	height: 44px;
}

.m_header_bar .mhb_right .share {
    padding: 14px 11px 11px;    
    cursor: pointer;
}
.button {
    text-align: center;
}
.button button {
    height: 44px;
    width: 85%;
    border-radius: 44px;
    border: 0px;
    background-color: #D5201E;
    color: #fff;
    font-size: 15px;
    margin: 10px 0 15px 0;
} 


/**登录注册**/
.weui-cell__bd input{
	font-size: 12px;
}
.weui-but_huoqu{
	background-color: #fff !important;
	border: 1px #D5201E solid !important;
	color: #D5201E !important;
	border-radius: 40px;
	font-size: 12px !important;
	line-height: 30px !important;
	height: 30px !important;
}
.weui-label{
	width: 40px !important;
}
.weui-cell:before ,.weui-cells:after{
    content: " ";
    right: 30px !important;
    left: 30px !important;
}
/*.weui-cell {
    padding: 15px 35px !important;
}*/
