﻿html{
	font-family: Microsoft YaHei;
	font-size: 12px;
	background-color: #e6e6e6;
	color: #333333;
}
.m_header_bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    padding-right: 100px;
    height: 44px;
    background: #fff;
    color: #fff;
}
.m_header_bar .mhb_center.mhb_center_across {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 80px;
    text-align: center;
}
.m_header_bar .mhb_center {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    overflow: hidden;
    height: 44px;
}
.m_header_bar .mhb_center h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 18 px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 15%;
    color: #333;
}
.m_header_bar .mhb_left {
    float: left;
    position: relative;
    z-index: 1;
}
.m_header_bar .mhb_left .myposition{
    float: left;
    width: 24px;
    height: 24px;
    padding: 14px 10px 11px 15px;
    cursor: pointer;
}
.m_header_bar .mhb_right {
    position: absolute;
    top: 0;
    right: 0; 
    height: 44px;
}
.m_header_bar .mhb_right .share {
    float: left;
    padding: 12px 0 11px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}
.icon-position3{
	width: 10px;
	height: 18px;
}
.icon-share{
	width: 21px;
	height: 21px;
}


/**banner第二部分**/
#banner{
	background: url(../img/banner@2x.png) no-repeat ;
	height: 166px;
	width: 100%;
	background-size: 100%;
}
#banner .touxiang{
	padding-top: 19px;
	height: 75px;
}
#banner .touxiang_pho{
	height: 75px;
	width: 75px;
	margin: auto;
}
#banner .jishi_name{
	padding-top: 10px;
	
}
#banner .jishi_name p{
	font-size: 15px;
	color: white;
	text-align: center;
}
#banner .my_label{
	height: 19px;
	padding-top: 10px;
}
#banner .my_label .my_label_center{
	width: 154px;
	margin: auto;
}
#banner .my_label span{
	color: white;
    text-align: center;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 13px;
    padding: 2px 12px;
}
#banner .my_label .comment{
	margin-right: 5px;
}


/**第三版相册**/
.my_album{
	background-color: #FFFFFF;
	height: 100px;
	width: 100%;
}
.album_left{
	float: left;
}
.album_left p{
	font-size: 14px;
	line-height: 100px;
	padding-left: 10px;
	display: inline-block;
}

.album_center ul{
	float: left;
}
.album_center ul li{
	float: left;
	padding-left: 10px;
}
.album_center ul li img{
	padding-top: 20px;
}
.album_center ul li:nth-child(1){
	padding-left: 15px;
}
.album_center ul li img{
	width: 57px;
}
.album_right{
	float: right;	
}
.album_right p{
	line-height: 100px;
	padding-right: 10px;
}
.album_right img{
	width: 7px;
	height: 12px;
}
.my_information{
	background-color: #fff;
	margin-top: 8px;
}
/**个人简介**/

.information_list ul li{
	
	padding-left: 10px;
	height: 49px;
	border-bottom: 1px solid #e6e6e6;
}
.information_list ul li:nth-child(3){
	border: none;
}
.information_list ul li span{
	line-height: 49px;
}
.information_list ul li .detailed_title{
	font-size: 14px;
	padding-right: 15px;
}
.information_list ul li img{
	width: 12px;
}
.information_list ul li .detailed_mess{
	font-size: 12px;
	color: #999999;
}

.detailed_comment .all_label{
	padding-left: 10px;
}
.detailed_comment .all_label p{
	padding: 5px 14px;
    border: 1px solid #333;
    border-radius: 15px;
    margin-right:11px ;
    display: inline-block;
    text-align: center;
	margin-bottom: 10px;
    	
}

.detailed_content ul li{
	
	padding-top: 10px;
	padding-left: 10px;
	border-bottom: 1px solid #e6e6e6 ;
}
.detailed_content ul li .up_top{
	height: 33px;
	
}
.detailed_content ul li .up_top p{
	line-height: 33px;
	font-size: 14px;
	display: inline-block;
}
.time_carry{
	float: right;
	padding-right: 10px;
	color: #777777;
}
.detailed_content ul li .up_top img{
	width: 30px;
	margin-right: 5px;
	float: left;
}
.user_name{
	line-height: 33px;
}
.bottom p{
	font-size: 12px;
    color: #777777;
    padding-top: 10px;
    text-indent: 3em;
    padding-right: 10px;
    margin-bottom: 20px;
}
.footer p{
	text-align: center;
	font-size: 15px;
	padding: 10px  0px;
	display: block;
	color: #999;
}
