.nocallout {
	-webkit-touch-callout: none;
}

.box-163css {
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	float: left;
}


/*swipe*/
#main{
	overflow: auto;
}
.swipe {
	width: 100%;
	float: left;
	overflow: hidden;
	visibility: visible;
	position: relative;
	height: 100%;
	padding-bottom: 60px;
}

.box01_list {
	position: relative;
	-webkit-transition: left 600ms ease-out;
	width: 100%;
	left: 0;
}

.li_list {
	width: 100%;
	position: relative;
	float: left;
	vertical-align: top;
}


/*pic_list*/

.pic_list {
	padding: 0 2%;
	width: 100%;
	height: 30px;
}

.pic_list img {
	float: left;
	width: 120px;
}

.pic_list span {
	font-size: 16px;
	font-size: 12px;
	line-height: 30px;
	
}


/*news_list*/

.news_list {
	width: 100%;
	float: left;
}

/*page*/

.page {
	text-align: left;
	background: #fff;
	height: 44px;
	line-height: 44px;
	width: 100%;
	display: -webkit-box;
}

.page li {
	-webkit-box-flex: 1;
	font-size: 14px;
	display: block;
	height: 44px;
	line-height: 44px;
	text-align: center;
}

.page li a {
	color: #333;
	display: block;
	height: 43px;
	text-decoration: none;
}

.page a.active {
	color: #f00;
	border-bottom: 2px solid #d5201e;
}

.go_btn {
	margin: 6px auto 12px auto;
	height: 34px;
	width: 92%;
	border: 1px solid #B9B9B9;
	text-align: center;
	line-height: 34px;
	font-size: 16px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(whiteSmoke), to(#E3E3E3));
	background: -moz-linear-gradient(top, whiteSmoke, #E3E3E3);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block;
	float: left;
	margin-left: 2.5%;
}

.go_btn em {
	font-style: normal;
	cursor: pointer;
}

.order_detail{
	height: 120px;
	background-color: #fff;
	padding: 10px;
}
.order_up{
	height: 80px;
	border-bottom: 1px solid #ccc;
}
.order_left{
	float: left;
	width: 70%;
}
.order_left img{
	width: 63px;
	float: left;
	padding: 0px 10px 0 0;
}
.order_left h3{
	display: inline-block;
	font-size: 15px;
	padding-bottom: 4px;
	color: #3f3f3f;
}
.order_left p{
	font-size: 12px;
	color: #999999;
	padding-top: 5px;
}
.order_right{
	float: right;
	text-align: right;
}
.order_down p{
	float: left;
	line-height: 46px;
    font-size: 14px;
}
.order_down p img{
	width: 12px;
	padding-right: 5px;
}
.order_down p span{
	color: #d5201e !important;
}
.order_down button{
	border-radius: 6px;
	padding: 5px 10px;
	margin: 10px 0;
	float: right;
	margin-left: 10px;
}
.order_down .bat{
	border: 1px solid #d5201e;
	background-color: #fff;
	color: #d5201e;
}
.agin{
	background-color: #d5201e;
	color: #fff;
	border: 1px solid #d5201e;
}
.uxiao{
	border: 1px solid #9e9e9e;
	background-color: #fff;
}
.order_ding{
	color: #d5201e;
}
.order_tuikuan{
	color: #d5201e;
}
.order_done{
	color: #666;
}
.have{
	background-color: #ccc;
	border: 1px solid #ccc;
	color: #fff;
}
.index-bnav li img{
	width: 23px;
	padding-top: 5px;
}
.index-bnav li .icon-ding {
    width: 21px;
}

.order_detail_had{
	height: 80px;
}
.order_detail_had .order_up{
	border: none;
}
.qianwang{
	border: 1px solid #999 !important;
	color: #999 !important;
}
