/**弹框**/

.message-dialog {
    background-color: rgba(26, 25, 19, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
    left: 0;
}
.message-dialog > .message-dialog-box {
    z-index: 1000;
    position: absolute;
    left:12%;
    top:30%;
    width: 75%;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
}
.message-dialog-box p{
	text-align: center;
	float: none !important;
	line-height: 25px;
}
.message-dialog > .message-dialog-box > article {
}
.tankuan_phto{
	width: 110px;
	padding-top: 15px;
}
.quxiaotishi{
	color: #999;
	font-size: 12px;
	padding: 0 10px;
}
.my_button {
	text-align: center;
	display: inline-block;
	padding: 5px 0 15px 0px;
}
.my_button #dialogCancelBtn,.my_button #dialogOkBtn,#next{
    padding: 0px;	
    padding: 5px 15px;
    margin: 10px 10px;
    border-radius: 20px;
    font-size: 14px;
}
.my_button #dialogCancelBtn{
	border:1px solid #D5201E;
	background-color: #D5201E;
	color: #fff;
}
.my_button #dialogOkBtn{
	border:1px solid #666;
	background-color: #fff;
	color: #666;
}
.message-dialog-box h3{
	line-height: 50px !important;
	border-bottom: 1px solid #D5201E;
	height: 50px;
}
#next{
	border:1px solid #D5201E;
	background-color: #D5201E;
	color: #fff;
}
.main_content{
	padding: 10px;
	color: #666;
	font-size: 12px;
}
#guanbi{
	background: url(../img/messgas/iconguanbi@2x.png) no-repeat;
	width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 81%;
    float: right;
    margin: 17px 10px 0 0;
}
.message-dialog-box span{
	display: inline-block;
	width: 70%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	line-height: 50px !important;
}
/*css document*/
	.btn button {
				display: block;
				width: 240px;
				line-height: 30px;
				margin: 20px auto;
				background-color: #cd0000;
				color: #fff;
				text-align: center;
				outline: none;
				border: none;
				cursor: pointer;
				font-family: "Microsoft YaHei";
			}
			
			.aside,
			.aside-overlay {
				position: fixed;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
			}
			
			.aside {
				-webkit-transition: visibility .25s;
				transition: visibility .25s;
				z-index: 9999999;
				visibility: hidden;
				overflow: hidden;
			}
			
			.aside>div {
				text-align: center;
			}
			
			.aside.active {
				-webkit-transition: none;
				transition: none;
				visibility: visible;
			}
			
			.aside-overlay {
				background-color: rgb(0, 0, 0);
				opacity: 0;
				-webkit-transition: opacity .25s;
				transition: opacity .25s;
			}
			
			.active>.aside-overlay {
				opacity: .6;
			}
			
			.rightContent {
				position: absolute;
				bottom: 0;
				right: 0;
				top: 0;
				left: 40px;
				background: #fff;
				-webkit-transition: transform .15s;
				transition: transform .15s;
				-webkit-transform: translateX(100%);
				transform: translateX(100%);
			}
			
			.active>.rightContent {
				-webkit-transform: translateX(0%);
				transform: translateX(0%);
			}
			
			.leftContent {
				position: absolute;
				bottom: 0;
				right: 40px;
				top: 0;
				left: 0;
				background: #fff;
				-webkit-transition: transform .15s;
				transition: transform .15s;
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
			}
			
			.active>.leftContent {
				-webkit-transform: translateX(0%);
				transform: translateX(0%);
			}
			
			.topContent {
				position: absolute;
				bottom: 40px;
				right: 40px;
				top: 0;
				left: 40px;
				background: #fff;
				-webkit-transition: transform .15s, top .15s;
				transition: transform .15s;
				-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
			}
			
			.active>.topContent {
				top: 40px;
				-webkit-transform: translateY(0%);
				transform: translateY(0%);
			}
			
			.botContent {
				position: absolute;
				bottom: 0;
				right: 0px;
				top: 52%;
				left: 0px;
				background: #fff;
				-webkit-transition: transform .15s, bottom .15s;
				transition: transform .15s;
				-webkit-transform: translateY(100%);
				transform: translateY(100%);
			}
			
			.active>.botContent {
				-webkit-transform: translateY(0%);
				transform: translateY(0%);
			}