@media only screen and (min-width: 100px) and (max-width: 320px) {
#banner{
	height: 140px;
}
#banner .touxiang{
	padding-top: 15px;
	height: 60px;
}
#banner .touxiang_pho{
	height: 60px;
	width: 60px;
	text-align:center
}
#banner .my_label{
	height: 19px;
	padding-top: 5px;
}
.album_center ul li:nth-child(4){
	display: none;

}

.detailed_content ul li{
	height: 90px;
}
.album_center ul li{
	padding-left: 14px;
}


}

@media only screen and (min-width: 414px) and (max-width: 500px){
	
.album_center ul li{
	padding-left: 20px;
}



}